<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Blog App - Login</title>
  </head>
  <body>
    <div class="wrapper">
      <form class="form-signin" method="POST" action="/users/login">
        <h2 class="form-signin-heading">Login</h2>
        <% if(error) { %>
        <legend class="color-danger"><%= error %></legend>
        <% } %>
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="Email Address"
          required=""
          autofocus=""
        />
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required=""
        />

        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Login
        </button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
