<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce</title>
    <script
      src="https://kit.fontawesome.com/7bb5dcd4c1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a href="/"><h2>E-Commerce</h2></a>
          <ul class="flex jc-even">
            <li class="submenu-box">
              <a href="">Men <strong>v</strong></a>
              <ul class="submenu">
                <li><a href="">Shirts</a></li>
                <li><a href="">T-Shirts</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Watches</a></li>
              </ul>
            </li>
            <li class="submenu-box">
              <a href="">Women <strong>v</strong></a>
              <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Dress</a></li>
                <li><a href="">Churidar</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jewellery</a></li>
                <li><a href="">Watches</a></li>
              </ul>
            </li>
            <li><a href="">Kids</a></li>
          </ul>
          <ul class="flex jc-between">
            <li>
              <a class="btn" href="/register/logout">LogOut</a>
            </li>
            <li>
              <a href="">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
