<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce</title>
    <script
      src="https://kit.fontawesome.com/7bb5dcd4c1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a href="/"><h2>E-Commerce</h2></a>
          <div>
            <ul class="flex jc-between">
              <li>
                <a class="btn" href="/register/logout">LogOut</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
